{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<main>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, itaque inventore. Facilis eum obcaecati voluptatum accusantium consequuntur eveniet non maiores blanditiis aliquam optio dolorem necessitatibus quis, doloribus sapiente iusto qui.
    </p>
</main>
    
{% endblock %}
