<nav>
    <div id="nav_options">
        <ul>
            <li>toto</li>
            <li>tata</li>
        </ul>
    </div>
    <div id='nav_burger'>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h1>Video <span class='evidence' >hub</span></h1>
    <p>
        Recherche
    </p>
</nav>